//Primary
$violet: hsl(257, 40%, 49%);
$soft_magenta: hsl(300, 69%, 71%);
$white: #fff;
$black: #000;

//Typography (Header)
$font_heading: 'Poppins', sans-serif;
$regular_header: 400;
$semi_bold-header: 600;

//Typography (Body)
$font_body: 'Open Sans', sans-serif;
$regular_body: 400;