@import 'variables', 'config';

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: $font_body;
  font-weight: $regular_body;
  color: $white;
  background-color: hsl(257, 40%, 49%);

  &::before {
    content: url(../images/bg-desktop.svg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.container {
  padding: 3em 4em;
}

header {
  img {
    width: 210px;
  }
}

main {
  @include flexDisplay(row, center, normal);
  padding-top: 5em;

  img {
    width: 100%;
    max-width: 700px;
  }

  .content {
    width: 45%;
    padding: 0 1em 0 3em;

    h1 {
      font-family: $font_heading;
      font-size: 38px;
    }
 
    p {
      line-height: 1.6em;
    }

    &__register {
      padding: 0.8em 3.5em;
      font-family: $font_heading;
      font-size: 16px;
      color: $violet;
      background-color: $white;
      cursor: pointer;
      border-radius: 2em;
      border-style: none;
      box-shadow: 6px 4px 15px -6px $black;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $white;
        background-color: $soft_magenta;
      }
    }
  }
}

footer {
  padding-top: 2em;

  .icon {
    display: flex;
    justify-content: flex-end;
    gap: 0.8em;

    .fab {
      padding: 0.6em;
      border-radius: 20px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: $soft_magenta;
        border-color: $soft_magenta;
      }
    }

    i:nth-child(1) {
      padding: 0.6em 0.8em;
    }

    i:nth-child(3) {
      padding: 0.6em 0.7em;
    }
  }

  .attribution { 
    padding-top: 4em;
    font-size: 11px; 
    text-align: center; 
  
    a { 
      color: $white; 
    }
  }
}

@include tablet { 
  body {
    @include flexDisplay(row, center, center);

    &::before {
      content: url(../images/bg-mobile.svg);
      left: auto;
    }
  }

  .container {
    max-width: 350px;
    padding: 2em 2em;
  }

  header {
    img {
      width: 130px;
    }
  }
    
  main {
    @include flexDisplay(column, center, center);
    padding-top: 3em;

    img {
      width: 80%;
    }

    .content {
      width: 100%;
      padding: 3em 0;
      text-align: center;
  
      h1 {
        font-size: 28px;
      }
  
      &__register {
        margin-top: 15px;
        padding: 0.7em 6em;
      }
    }
  }

  footer {
    .icon {
      justify-content: center;
    }
  }
}